<p>profile works!</p>
<app-header></app-header>
<br>
<br>
<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img height="200" height="200" src="data:image/jpeg;base64,{{image}}" >
                    <div class="mt-3">
                      <h4>{{doctor.name}}</h4>
                      <p class="text-secondary mb-1">{{doctor.brand}}</p>
                      <p class="text-muted font-size-sm">{{doctor.price}}</p>
                     </div>
                  </div>
                </div>
              </div>
              </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"> BRAND</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{doctor.brand}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">PRICE</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{doctor.price}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">DISCOUNT</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{doctor.discount}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">SIZE</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{doctor.size}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">CLOTHTYPE</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{doctor.clothtype}}
                    </div>
                  </div>
                  <hr>
                  </div>
              </div>

              

            </div>
          </div>

        </div>
    </div>