<p>home works!</p>
<app-header></app-header>

<html>
<head>
	<title>LIFESTYLE</title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
					LIFESTYLE  <br>
			<font size="5px"> We satisfy ur soul </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are guarantee for ur cloth </font> <br> <br>

					<font color="#000" size="5px"> We Have discount options for You! </font> <br> <br>

                    A small shop which sells expensive or designer clothing may be called a boutique.<br><br>
                    We slipped into our new clothes in the dressing room of a quiet little dress shop. <br><br>
<ul>
<li> It is a necessity of man. You can judge one’s character, taste and habits by the dress he wears.
<li>The fashion in dress has changed many times. In the olden days in India man used to wear dhoti, kurta or shirt and women sarees or lehnga. 
<li>The colours and cuts have also changed pattern. Sometime it is light colour and sometime it is dark. 
<li>You can find young boys wearing gaudy clothes. They will thrust a handkerchief in the upper pocket of their coat and a flower in the button hole.
<li>A man who is neatly dressed and is wearing polished shoes gives the impression of his clean habit. So the dress gives some idea about the habit of the wearer.
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>
